<template>
  <v-app>
    <br><br><br>
    <v-container class="pa-3">
      <v-layout row wrap class="design">
        <v-flex md3>
          <v-btn depressed outline flat color="warning" block router-link to="/viewproducts">View Product</v-btn>
          <v-btn depressed outline flat color="info" block router-link to="/editproducts">Add product</v-btn>
        </v-flex>
        <v-flex>
          <v-layout row wrap align-center>
            <v-flex md9>
              <router-view></router-view>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: "Admin",
  data: function() {
    return {};
  }
};
</script>
<style scoped>
.align-center {
  justify-content: end !important;
  -webkit-justify-content: end !important;
}
.design {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.28);
}
</style>

