<template>
  <div>
    <v-container fluid>
      <v-layout row wrap>
        <div v-if="isEmpty" id="isempty">
          <h1>Your cart is Empty</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <v-btn depressed round color="orange" router-link to="/" dark>Add to cart</v-btn>
        </div>

        <v-flex md12 xl12 xs12 lg12 v-for="(item , index) in cartItem" :key="index">
          <div id="box">
            <div id="img">
              <img :src="item.image" alt height="280" width="230">
            </div>
            <div id="info">
              <p id="name">{{item.Name}}</p>
              <p id="manufacture">{{item.manufacture}}</p>
              <p id="description">{{item.description}}</p>
              <p id="price">
                <i class="fas fa-rupee-sign" aria-hidden="true"></i>
                &nbsp;{{item.price}}
              </p>
              <div id="btn">
                <button @click="removeItemCart(item)">
                  <i class="fas fa-shopping-cart" aria-hidden="true"></i>&nbsp;Remove
                </button>
              </div>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: () => {
    return {};
  },
  computed: {
    ...mapGetters({
      cartItem: "getCartItem",
      isEmpty: "getCartEmpty"
    })
  },
  methods: {
    removeItemCart(item) {
      this.$store.commit("removeItemCart", item);
      this.$notify({
        group: "foo",
        title: "Success",
        text: "Item Removed Successfully"
      });
    }
  }
};
</script>
<style scoped>
#box {
  width: 100%;
  padding: 18px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  border: 1px solid #ecf0f1;
}
#box #info {
  padding: 25px;
}
#box #info #name {
  text-transform: capitalize;
  color: black;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
#box #info #btn {
  text-align: end;
}
#box #info #btn button {
  background-color: orange;
  color: #fff;
  padding: 10px;
  width: 150px;
  outline: 0;
  border-radius: 40px;
}
@media only screen and (max-width: 600px) {
  #box {
    flex-wrap: wrap;
  }
  #box #info #btn button {
    width: 100%;
  }
}
#isempty {
  margin: 0 auto;
}
#isempty h1 {
  font-family: fantasy;
  font-size: x-large;
  color: #34495e;
}
</style>
