<template>
  <div id="form">
    <Form/>
  </div>
</template>
<script>
import Form from "../components/form.vue";
export default {
  name: "newproduct",
  components: {
    Form
  }
};
</script>

<style scoped>
#form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid gainsboro;
  border-radius:2px; 
}
</style>
