<template>
  <v-app>
    <v-layout row wrap>
      <v-flex md12 xs12 xl12>
        <img src="../assets/head-image.jpeg" alt="alt" height="300" width="100%">
      </v-flex>
      <br>
      <br>
      <br>
    </v-layout>
    <v-container fluid>
      <v-layout wrap>
        <v-flex xs12 sm6 md4 lg3 v-for="(item, index) in item" :key="index">
          <v-card class="text-xs-center ma-2 pa-2">
            <v-responsive class="pt-4">
              <v-avatar tile size="230" color="red">
                <img :src="item.image" alt="alt">
              </v-avatar>
            </v-responsive>
            <v-card-text>
              <div class="subheading" v-bind:style="styleObject">
                {{item.Name}}
                <p class="grey--text">
                  <i class="fas fa-rupee-sign" aria-hidden="true" ></i>
                  &nbsp;{{item.price}}
                </p>
              </div>
              <div class="grey--text">{{item.description}}</div>
            </v-card-text>
            <v-card-actions>
              <v-btn
                small
                depressed
                round
                color="orange lighten-1 white--text"
                :class="`btn-center`"
                @click="addToCart(item)"
              >Add</v-btn>
              <v-spacer></v-spacer>
              <v-btn
                small
                round
                depressed
                color="orange lighten-1 white--text"
                @click="view(index)"
                :class="`btn-center`"
              >View</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: function() {
    return {
      styleObject: {
        textTransform: "capitalize",
        fontSize: "16px"
      }
    }
  },
  methods: {
    view(index) {
      console.log(index);
      if (index != null) {
        this.$router.push({
          name: "single-product",
          params: { id: index }
        });
      }
    },
    addToCart(item) {
      this.$store.commit("addCart", item);
      this.$notify({
        group: "foo",
        title: "Success",
        text: "Item Added successfully"
      });
    }
  },
  computed: {
    ...mapGetters({
      item: "getProduct"
    })
  },
  created() {
    this.$store.dispatch("getProduct");
  }
};
</script>
