<template>
  <div>
    <v-container fluid>
      <v-layout row wrap>
        <v-flex md12 xl12 xs12 lg12>
          <div id="box">
            <div id="img">
              <img :src="singleitem.image" alt height="280" width="230">
            </div>
            <div id="info">
              <p id="name">{{singleitem.Name}}</p>
              <p id="manufacture">{{singleitem.manufacture}}</p>
              <p id="description">{{singleitem.description}}</p>
              <p id="price">
                <i class="fas fa-rupee-sign" aria-hidden="true"></i>
                &nbsp;{{singleitem.price}}
              </p>
              <div id="btn">
                <button @click="addToCart()">
                  <i class="fas fa-shopping-cart" aria-hidden="true"></i>&nbsp;Add to cart
                </button>
              </div>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      singleitem:null
    };
  },
  methods: {
    addToCart() {
      console.log("clicked");
      this.$store.commit("addCart", this.singleitem);
       this.$notify({
        group: "foo",
        title: "Success",
        text: "Item Added successfully",
      });
    }
  },
  created() {
    console.log(this.$route.params.id);
    console.log(typeof this.$store.state.products);
    for (var key in this.$store.state.products) {
      if (key == this.$route.params.id) {
        this.singleitem = this.$store.state.products[key];
      }
    }
  },
  mounted() {}
};
</script>
<style scoped>
#box {
  width: 100%;
  padding: 18px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  border: 1px solid #ecf0f1;
}
#box #info {
  padding: 25px;
}
#box #info #name {
  text-transform: capitalize;
  color: black;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
#box #info #btn {
  text-align: end;
}
#box #info #btn button {
  background-color: orange;
  color: #fff;
  padding: 10px;
  width: 150px;
  outline: 0;
  border-radius: 40px;
}
@media only screen and (max-width: 600px) {
  #box {
    flex-wrap: wrap;
  }
  #box #info #btn button {
    width: 100%;
  }
}
</style>
