<template>
  <div>
    <table id="products">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Manufacturer</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr v-for="(data , index) in item" :key="index">
        <td>{{data.Name}}</td>
        <td>
          <i class="fas fa-rupee-sign" aria-hidden="true"></i>
          &nbsp;{{data.price}}
        </td>
        <td>{{data.manufacture}}</td>
        <td>
          <v-dialog
            content-class="hello"
            v-model="dialog"
            max-width="500px"
            transition="dialog-transition"
          >
            <button slot="activator" @click="getKey(index)">
              <i class="far fa-edit" aria-hidden="true" style="color:blue"></i>
            </button>
            <v-card>
              <v-card-title primary-title>
                <h3 block style="font-family: Times New Roman, Times, serif;">Edit Product</h3>
              </v-card-title>
              <v-card-text>
                <v-form v-for="(predata, i) in prefiledData" :key="i">
                  <v-text-field
                    name="Product Name"
                    label="Enter Product name"
                    id="id"
                    v-model="predata.Name"
                  ></v-text-field>
                  <v-text-field
                    name="title"
                    label="Enter Product Price"
                    id="id"
                    v-model="predata.price"
                  ></v-text-field>
                  <v-text-field
                    name="Manufacturer"
                    label="Manufacturer By"
                    id="id"
                    v-model="predata.manufacture"
                  ></v-text-field>
                  <v-text-field
                    name="Manufacturer"
                    label="Manufacturer By"
                    id="id"
                    v-model="predata.image"
                  ></v-text-field>
                  <v-textarea v-model="data.description" label="Enter description"></v-textarea>
                  <v-btn flat class="primary mt-3 sm6 xs6 md6" small @click="submit(predata)">Submit</v-btn>
                  <v-btn class="primary mt-3 sm6 xs6 md6" small @click="closeform">
                    <v-icon small left>close</v-icon>close
                  </v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-dialog>
        </td>
        <td>
          <button @click="deleteItem(index)">
            <i class="fa fa-trash" aria-hidden="true" style="color:red"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: function() {
    return {
      dialog: false,
      editkey: "",
      prefiledData: []
    };
  },
  methods: {
    getKey(index) {
      this.dialog = true;
      this.editkey = index;
      for (var key in this.item) {
        if (key == this.editkey) {
          console.log("matched");
          this.prefiledData.push(this.item[key]);
          console.log(this.prefiledData);
        }
      }
      //   console.log(index);
    },
    closeform() {
      this.dialog = false;
      this.prefiledData.splice(
        this.prefiledData.indexOf(this.prefiledData[0]),
        1
      );
    },
    submit(data) {
      console.log(data);
      this.$store.dispatch("EditData", {
        editkey: this.editkey,
        updateData: data
      });
      this.$notify({
        group: "foo",
        title: "Success",
        text: "Item Edited Successfully"
      });
      this.prefiledData.splice(
        this.prefiledData.indexOf(this.prefiledData[0]),
        1
      );
      console.log("removed" + this.prefiledData);
      this.dialog = false;
    },
    deleteItem(deletekey) {
      console.log(deletekey);
      this.$store.dispatch("deleteData", deletekey);
      this.$notify({
        group: "foo",
        title: "Success",
        text: "Item Deleted Successfully"
      });
    }
  },
  computed: {
    ...mapGetters({
      item: "getProduct"
    })
  }
};
</script>
<style scoped>
#products {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 97%;
  margin: 0 auto;
  margin-top: 6px;
}

#products td,
#products th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center !important;
}

#products tr:nth-child(even) {
  background-color: #f2f2f2;
}

#products tr:hover {
  background-color: #ddd;
}

#products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #30336b;
  color: white;
}
</style>
