<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-flex xs12 md12>
      <v-text-field v-model="name" label="Product Name" name="name" :rules="nameRules" required></v-text-field>
    </v-flex>

    <v-flex xs12 md12>
      <v-text-field v-model="price" label="Enter Price" name="price" :rules="priceRules" required></v-text-field>
    </v-flex>

    <v-flex xs12 md12>
      <v-text-field
        v-model="manufacture"
        label="Enter Manufacturer Buy"
        name="manufacture"
        :rules="manufactureRules"
        required
      ></v-text-field>
    </v-flex>
    <v-flex xs12 md12>
      <v-text-field
        v-model="image"
        label="Enter Image Url"
        name="image"
        :rules="imageRules"
        required
      ></v-text-field>
    </v-flex>
    <v-flex xs12 md12>
      <v-textarea v-model="description" label="Enter description" :rules="descRules" required></v-textarea>
    </v-flex>
    <v-flex>
      <v-btn color="success" :disabled="!valid" @click="validate">Submit</v-btn>
      <v-btn color="error" @click="reset">Reset Form</v-btn>
    </v-flex>
  </v-form>
</template>
<script>
export default {
  data: () => {
    return {
      name: null,
      nameRules: [v => !!v || "Product Name is required"],
      price: null,
      priceRules: [v => !!v || "Product Price is required"],
      manufacture: null,
      manufactureRules: [v => !!v || "Product manufacturer is required"],
      image: null,
      imageRules: [v => !!v || "Product Imageurl is required"],
      description: null,
      descRules: [v => !!v || "Product Description is required"],
      valid: true,

      sendData: {}
    };
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.sendData = {
          Name: this.name,
          description: this.description,
          image: this.image,
          price: this.price,
          manufacture: this.manufacture
        };
        console.log(this.sendData);
        this.$store.dispatch("addNewdata", this.sendData);
        this.$notify({
          group: "foo",
          title: "Success",
          text: "Item Added Successfully"
        });
      }
    },
    reset() {
      this.$refs.form.reset();
    }
  }
};
</script>