<template>
  <nav>
    <v-toolbar app color="teal lighten-1" dark>
      <v-toolbar-title class="text-uppercase">
        <span class="font-weight-light">Online</span>
        <span>Shopping</span>
      </v-toolbar-title>
      <v-toolbar-items v-for="(menu ,index) in links " :key="index">
        <v-btn flat class="white--text" dark router :to="menu.route">
          <v-icon flat small left>{{menu.icon}}</v-icon>
          {{menu.text}}
        </v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-btn flat dark router-link to="/cart" class="white--text">
        <span>Cart</span>
        <v-icon flat right>shopping_cart</v-icon>
        <p id="cartcount">{{cartCount}}</p>
      </v-btn>
    </v-toolbar>
  </nav>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "navbar",
  data: function() {
    return {
      links: [
        { icon: "home", text: "Home", route: "/" },
        { icon: "person", text: "Admin", route: "/viewproducts" }
      ]
    };
  },
  computed: {
    ...mapGetters({
      cartCount: "getCartCount"
    })
  }
};
</script>
<style>
#cartcount {
  background-color: #fff;  
  color: #ff9933;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 62px;
  font-size: 12px;
}
</style>
