<template>
  <v-app>
    <navabar/>
    <v-content>
      <!-- <v-container fluid> -->
         <notifications group="foo" />
        <router-view/>
      <!-- </v-container> -->
    </v-content>
  </v-app>
</template>

<script>
import navabar from "@/components/navbar";

export default {
  name: "App",
  components: {
    navabar
  }
};
</script>

